<div class="main about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 tumbnail">
				<%= image_tag asset_path("david1.jpg"), class:  "me" %>
			</div>

				<div class="col-md-6">
					<h2 id= "name" class="info"> Hello. My name is
						<br>
						<span id="name" class="highlight"> David P. Esposito </span> </h2>
						<br>
						<p class="bio"> <strong>I am a fullstack developer living in Asheville, North Carolina.</strong> </p>
							<p>After trying different career paths with no luck, I dropped everything and attended a coding boot camp. Ever since I have developed a serious passion for building and desiging websites and web applications. </p>
							<h3> <strong> Services Offered</strong> </h3>
							<ul class="services">
								<li>
									Front End Developmemt: HTML, CSS, JavaScript, ReactJS, and Bootstrap.
								</li>
								<li>
									Back End Developement: Ruby and Ruby-on-Rails.
								</li>
							</ul>


				</div>
		</div>
	</div>
</div>
