<div class="main about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 tumbnail">
				<img alt="Me" src="">
				<div class="col-md-6">
					<h2> Hello. My name is <span class="highlight"> David Esposito </span> </h2>
						<p> Put about me here </p>
							<p> About me cont... </p>

				</div>
			</div>
		</div>
	</div>
</div>
