<div class="main portfolio">
	<div class="jumbotron">
		<div class="container">
		</div>
	</div>

<div class="container">
	<div class="row"></div>
		<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 01" src="#">
			</div>
					<h3> Twitter Clone </h3>
						<p> 
							Built functioning Twitter type website. Users can sign up, log in, tweet, and follow other users. Used "faker" gem to produce fake users and content.
						 </p>
					</a>
					<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 02" src="#">
			</div>
					<h3> Blog Website </h3>
						<p> Blog website where users can create a bio and post blog entries, follow others and comment on posts. </p>
					</a>
	<div class="row"></div>
	<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 03" src="#">
			</div>
					<h3> E-Commerce Website </h3>
						<p> E-commerce site where users can view products as a group or individually, buy items, or save for later. Used Stripe to provide credit card functionality and used bootstrap to add modals for each item. </p>
					</a>
					<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 04" src="#">
			</div>
					<h3> Code Academy Project </h3>
						<p> Some info about project: Skills used, etc... </p>
					</a>
	<div class="row"></div>
	<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 05" src="#">
			</div>
					<h3> Code Academy Project </h3>
						<p> Some info about project: Skills used, etc... </p>
					</a>
					<a class="col-md-6 project" href="#">
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail-header-btn"></div>
			<div class="thumbnail">
				<img alt="Project 06" src="#">
			</div>
					<h3> Code Academy Project </h3>
						<p> Some info about project: Skills used, etc... </p>
					</a>
</div>
</div>