<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	
<div class="header">
		<div class="container">
			<div class="row">
				<div class="menu col-xs-8">
					
					<ul>
					<li> 
			<a href="/welcome/"> Welcome </a>
		</li>
		<li>
			<a href="/portfolio/"> Portfolio </a>
		</li>
		<li>
			<a href="/blog/"> Blog </a>
		</li>
		<li>
			<a href="/about/"> About </a>
		</li>
		<li>
			<a href="/contact/"> Contact </a>
		</li>
	</ul>
			</div>
			
			<div class="name col-xs-4">
				<h1> David Esposito </h1>
			</div>
			
			</div>
		</div>
	</div>
</div>

<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<h2> Hello. My name is <span class="highlight"> David Espsoito.</span> I create beautiful functioning websites.
			</h2>
			<a class="btn right" href="portfolio"> View My Work </a>
		</div>
	</div>
	</div>

	<div class="footer">
		<div class="container">
			<ul class="social_media">
					<li>
					<%= link_to 'https://github.com/dpe724' do %>
					<%=image_tag asset_path("002-github-sign.png") %>
					<%end%>
				</li>
					<li>
				<%= link_to 'https://www.linkedin.com/in/david-esposito-b7a146127/' do %>
				<%=image_tag asset_path("004-linkedin-logo.png") %>
				<%end%>
			</li>
	</ul>
		<p> © 2017 David Esposito
			</p>
	</div>
</div>


</body>
</html>