<div class="main home">
	<div class="jumbotron">
		<div class="container">
			<h2> Hello. My name is <span class="highlight"> David P. Esposito.</span> I create beautiful functioning websites.
			</h2>
			<a class="btn right" href="portfolio"> View My Work </a>
		</div>
	</div>
	</div>
